* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(25, 85, 100);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
}

#portada {
    width: 200px;
    height: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgba(25, 85, 100, 0.765);
}