*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(25, 85, 100);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aliceblue;
}

#portada{
    width: 200px;
    height: 200px;
}
