  body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #0f172a;
            color: #e5e7eb;
        }

        header {
            background: linear-gradient(135deg, #2563eb, #1e40af);
            text-align: center;
            padding: 60px 20px;
            background-repeat: none;
        }

            header h1 {
            font-size: 3rem;
            margin-bottom: 10px;
        }

        header p {
            font-size: 1.2rem;
            opacity: 0.9;
        }

        section {
            padding: 60px 8%;
        }

        h2 {
            color: #60a5fa;
            margin-bottom: 20px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 25px;
        }

        .card {
            background-color: #020617;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 10px 25px rgba(0,0,0,0.4);
        }

        .card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .card div {
            padding: 20px;
        }

        .card h3 {
            margin-top: 0;
            color: #93c5fd;
        }

        footer {
            background-color: #020617;
            text-align: center;
            padding: 30px;
            font-size: 0.9rem;
            color: #9ca3af;
        }
 